{% extends 'base.html' %}

{% block content %}

<div class="container py-5">
    <h1 class="display-5 fw-bold">Wellcome to learning log app</h1>
    <p class="col-md-8 fs-4">A learning log, or learning journal, is a way for children to record their learning and
        progress around topics they are learning at school.They are increasingly adopted by schools as an alternative to
        traditional homework tasks.

        Learning Logs allow children to complete more creative tasks around academic subjects, in an effort to make home
        learning more engaging.</p>
    <button class="btn btn-primary btn-lg" type="button">Add Topic </button>
</div>


{% endblock %}