{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="my-3 p-3 bg-body rounded shadow-sm">
        <h6 class="border-bottom pb-2 mb-0">Topics</h6>

        {% for topic in topics %}
        <div class="d-flex text-muted pt-3">
          <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
            <div class="d-flex justify-content-between">
             <a href=" {% url 'detail' topic.id %}" class="text-decoration-none"><strong class="text-gray-dark" >{{topic.title}}</strong></a> 
              <a href="{% url 'detail' topic.id %}" class="text-decoration-none">View</a>
            </div>
          </div>
         </div>
         {% empty %}

         <div class="d-flex text-muted pt-3">
            <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
              <div class="d-flex justify-content-between">
                <strong class="text-gray-dark">No Topic yet.</strong>
              </div>
            </div>
           </div>
           
         {% endfor %}

    </div>
</div>


{% endblock %}